body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4a4a4a;
}

.purple-logo {
    color: #b50c74;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #b50c74;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    background-color: transparent;
}

#hero {
    background-color: #b50c74;
    color:  white;
    background: url(https://res.cloudinary.com/dddl5dzey/image/upload/v1669753103/bm_1300_grey_kintme.png) top center / cover no-repeat;
    min-height: 450px;
}

#about {
    background: url(https://res.cloudinary.com/dddl5dzey/image/upload/v1669729582/20170129_125115_1_u8q070.jpg) top center / cover no-repeat;
    min-height: 450px;
}

.author {
    color: white;
    margin: 4px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #b50c74;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background:  #b50c74;
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color:  #b50c74;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #b50c74;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #b50c74;
}

.link {
    color:  #b50c74;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #b50c74;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color:  #b50c74;
    background: transparent;
    border: none;
}

@media(max-width: 320px) {
    .navbar-toggler {
        font-size: 95%;
    }
}
