<!--my own code based on the knowledge from Walkthrough projects-->

{% extends "base.html" %}

{% block content %}
<!-- ABOUT PAGE -->
<div id="about" class="d-flex justify-content-center align-item-center pt-5">
    <div class="container pt-5">
    </div>
</div>
<section class="about-me">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 my-5 offset-md-2">
                <div class="row">
                    <h3>Hey there,</h3>
                    <p>I am Petra a.k.a. Bilingual Mama. I come from a small country in the heart your Europe
                        but I have spent most of my adult life living in Kent, UK, married to my funny, most
                        loving and carrying Englishman.
                    </p>
                    <p>I have been very fortunate to enjoy the fast ride of motherhood with my two adventurous
                        and joyful bilingual <s>minions</s> <u>cherubs</u>.</p>
                    <p>So here we are, sharing our bilingual family journey.</p>
                    <p>Enjoy! :-)</p>
                    <p><em>Petra X</em></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF THE ABOUT PAGE -->
{% endblock %}
