<!--my own code based on the knowledge from Walkthrough projects-->
{% extends "base.html" %}

{% block content %}

<section id="about-img" class="d-flex justify-content-center align-item-center">
    <div class="about-img container text-center my-5" id="about-img">
        <img src="https://res.cloudinary.com/dddl5dzey/image/upload/v1669729582/20170129_125115_1_u8q070.jpg">
    </div>
</section>
<section class="about-me">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    <h3>Hey there,</h3>
                    <p>I am Petra a.k.a. Bilingual Mama. I come from a small country in the heart your Europe 
                        but I have spent most of my adult life living in Kent, UK, married to my funny, most 
                        loving and carrying Englishman.
                    </p>
                    <p>I have been very fortunate to enjoy the fast ride of motherhood with my two adventurous 
                        and joyful bilingual <s>minions</s> <u>cherubs</u>.</p>
                    <p>So here we are, sharing our bilingual family journey.</p>
                    <p>Enjoy!</p>
                    <p><em>Petra X</em></p>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}