{% extends "base.html" %}

{% block content %}
<!-- HERO IMAGE + INTRO/ MY OWN CODE -->
<section id="hero" class="d-flex justify-content-center align-item-center">
    <div class="header container text-center my-5 pt-5" id="header">
        <h1 class="display-5"><strong>Welcome to Bilingual Mama's blog!</strong></h1>
        <p class="lead"><strong>So happy to have you here. Enjoy my hands-on bilingual parenting tips.</strong></p>
        <a href="https://bilingual-mama.herokuapp.com/5-key-steps-to-raising-a-bilingual-baby/" class="btn btn-signup btn-lg px-3">START HERE</a>
    </div>
</section>
<!-- ALL THE BELOW CODE TAKEN FROM CI DJANGO BLOG WALKTHROUGH PROJECT -->
<!-- BLOG SECTION -->
<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-image-top img-fluid" alt="No image available"
                                src="https://res.cloudinary.com/dddl5dzey/image/upload/v1669371699/Bilingual_Mama_blog/klucisjazykama_sipgte.png">
                            {% else %}
                            <img class="card-image-top img-fluid" alt="{{ post.title }}" src=" {{ post.featured_image.url }} ">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="mt-2">
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="author text-muted"><small>Author: {{ post.author }}</small></p>
                                <p class="card-text text-muted h6">{{ post.created_on }} 
                                    <i class="far fa-heart">{{ post.number_of_likes }}</i>
                                </p>
                                <hr>
                                <p class="card-text">{{ post.excerpt }}</p>
                                <a href="{% url 'post_detail' post.slug %}" class="btn btn-signup btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"
                class="page-link"> &laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"
                class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock %}