{% extends "base.html" %}

{% block title %}Contact Me{% endblock title%}

{% block content %}

<h1>Contact Me</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="query_form" id="query_form" method="post" action="{% url 'query_form' %}">
        {% csrf_token %}
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" name="name" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="name" class="form-control" name="surname" id="surname" placeholder="Surname" required>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
          </div>
          <div class="form-group">
            <label for="status">Example select</label>
            {{query_form.status}}
          </div>
          <div class="form-group">
              <label for="subject">Subject</label>
              <textarea class="form-control" name="subject" id="subject" rows="1" required></textarea>
          </div>
          <div class="form-group">
            <label for="message">Example textarea</label>
            <textarea class="form-control" name="message" id="message" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>
</div>

{%endblock content %}